@media only screen and (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    }
    
    section {
        padding: 2rem;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
    }

    .project-img {
        margin-top: 0;
    }

    .projects-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}